
@{
    ViewBag.Title = "Completed Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div data-ng-controller="CompletedTasksController" {{title = @ViewBag.Title}}>
    <div data-ng-view></div>
</div>

