<div id="content" class="bottom-border-shadow">
    <div class="container background-white bottom-border">
        <div class="row margin-vert-30">
            <!-- Main Text -->
            <div class="col-md-6">
                <h2>Hakkımızda</h2>  
                <p>
                    Proton Teknik, 2010 yılında Kadıköy İstanbul’ da çeşitli inşaat projelerini geliştirmek üzere 14 çalışanı ile kurulmuştur. Günümüzde 40 kişilik ekibi ile kat karşılığı ve kentsel dönüşüm modeliyle konut inşaa etmektedir. Bununla birlikte iş merkezleri, alışveriş merkezleri, enerji ve endüstriyel tesis inşaatlarının yapımı da gerçekleştirilmektedir. 
                </p>
                <p>
                    Proton Teknik, uluslar arası mecrada da inşaat taahhüt faaliyetlerini başarıyla geliştirerek uzak bölgelerde proje teslim edebilme deneyimine ve gücüne sahip olduğunu ispatlamıştır. Başta Rusya, Ukrayna, Irak, Umman, Türkmenistan Ve Suudi Arabistan’da olmak üzere birçok başarılı projeye imza atmıştır.
                </p>
            </div>
            <!-- End Main Text -->
            <div class="col-md-6">
                <h3 class="padding-vert-10">Uzmanlıklarımız</h3>

                <ul class="tick animate fadeInRight">
                    <li>Araç Parkı </li>
                    <li>Restorasyon</li>
                    <li>Yenileme   </li>
                    <li>Özel Tasarımlar</li>
                </ul>
            </div>
        </div>
    </div>
</div>
