<div id="body-bg">
    <div id="content">
        <div class="container background-white">
            <div class="row margin-vert-40">
                <div class="row tabs">
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a href data-target="#sample-3a" data-toggle="tab">
                                    <i class="fa fa-home"></i> Hakkımızda</a>
                            </li>
                            <li>
                                <a href data-target="#sample-3b" data-toggle="tab">
                                    <i class="fa fa-cloud"></i> Tamamlanmış Projeler</a>
                            </li>
                            <li>
                                <a href data-target="#sample-3c" data-toggle="tab">
                                    <i class="fa fa-comments"></i> Devam Eden Projeler</a>
                            </li>
                            <li>
                                <a href data-target="#sample-3d" data-toggle="tab">
                                    <i class="fa fa-gear"></i> İletişim</a>
                            </li>
                            <li>
                                <a href data-target="#sample-3e" data-toggle="tab">
                                    <i class="fa fa-photo"></i> Fotoğraf Yönetimi
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="sample-3a">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="no-margin no-padding">Hakkımızda</h3>
                                        <div>
                                            <textarea data-ckeditor="options" data-ng-model="content" data-ready="onReady()"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="sample-3b" data-ng-init="ButtonClick()">
                                <div class="container background-white">
                                    <div class="row margin-vert-30">
                                        <div class="col-md-12">
                                            <h2 class="margin-bottom-10">
                                                Tamamlanmış Projeler
                                                <button class="pull-right btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#myModal">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </h2>
                                            <!-- Modal -->
                                            <div id="myModal" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Proje Bilgileri</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <label for="pName"><span class="glyphicon glyphicon-font"></span> Proje Adı</label>
                                                            <input id="pName" placeholder="Proje Adı" class="form-control" type="text" data-ng-model="project.ProjeAdi">
                                                            <br>
                                                            <label for="pCity"><span class="glyphicon glyphicon-map-marker"></span> Proje İl</label>
                                                            <input id="pCity" placeholder="Proje İl" class="form-control" type="text" data-ng-model="project.ProjeSehir">
                                                            <br>
                                                            <label for="pDistinct"><span class="glyphicon glyphicon-home"></span> Proje İlçe</label>
                                                            <input id="pDistinct" placeholder="Proje İlçe" class="form-control" type="text" data-ng-model="project.ProjeIlce">
                                                            <br>
                                                            <label for="pStatus"><span class="glyphicon glyphicon-time"></span> Proje Durumu</label>
                                                            <div class="dropdown">
                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                                    {{project.statusDesc}}
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu" role="menu" style="background-color: #f0f0f0">
                                                                    <li ng-repeat="s in projectStatus">
                                                                        <a ng-click="setStatus(s.completed,s.desc)">{{s.desc}}</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <br>
                                                            <label for="projectDetail"><span class="glyphicon glyphicon-pencil"></span> Proje Detay</label>
                                                            <textarea data-ckeditor="options" data-ng-model="project.ProjeAciklama" data-ready="onReady()"></textarea>
                                                            <br>
                                                            <button type="button" class="btn btn-primary pull-right" data-ng-click="saveProject()">Kaydet</button>
                                                            <br>
                                                        </div>
                                                        <!--<div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal -->
                                            <br>
                                            
                                            <div id="accordion" class="panel-group alternative">
                                                <div class="panel panel-default" data-ng-repeat="x in projects">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a class="accordion-toggle" href data-target="#collapse{{x.ProjeId}}" data-parent="#accordion" data-toggle="collapse">
                                                                {{x.ProjeAdi}}
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse{{x.ProjeId}}" class="accordion-body collapse">
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <img src="http://www.protonteknik.com/images/slider/slider-1.jpg" alt="image1">
                                                                    {{x.ProjeSehir}}
                                                                    <br />
                                                                    {{x.ProjeIlce}}
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <!--<h3 class="no-margin no-padding"></h3>-->
                                                                    <p>{{x.ProjeAciklama}}</p>
                                                                    <div class="col-md-12 portfolio-group no-padding">
                                                                        <div class="col-md-3 portfolio-item margin-bottom-40">
                                                                            <div>
                                                                                <a href="#">
                                                                                    <figure>
                                                                                        <img src="http://www.protonteknik.com/images/slider/slider-1.jpg" alt="image1">
                                                                                        <figcaption>
                                                                                            <h3 class="margin-top-20">Velit</h3>
                                                                                        </figcaption>
                                                                                    </figure>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3 portfolio-item margin-bottom-40">
                                                                            <div>
                                                                                <a href="#">
                                                                                    <figure>
                                                                                        <img src="../assets/img/slider/1.jpg" alt="image1">
                                                                                        <figcaption>
                                                                                            <h3 class="margin-top-20">Velit</h3>
                                                                                        </figcaption>
                                                                                    </figure>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                    <button type="button" class="btn btn-primary pull-right" data-ng-click="editProject(x)" data-toggle="modal" data-target="#myModal2">Düzenle</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal2 -->
                                                <div id="myModal2" class="modal fade" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">Proje Bilgileri</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <label for="pNameE"><span class="glyphicon glyphicon-font"></span> Proje Adı</label>
                                                                <input id="pNameE" placeholder="Proje Adı" class="form-control" type="text" data-ng-model="editProjectObject.ProjeAdi">
                                                                <br>
                                                                <label for="pCityE"><span class="glyphicon glyphicon-map-marker"></span> Proje İl</label>
                                                                <input id="pCityE" placeholder="Proje İl" class="form-control" type="text" data-ng-model="editProjectObject.ProjeSehir">
                                                                <br>
                                                                <label for="pDistinctE"><span class="glyphicon glyphicon-home"></span> Proje İlçe</label>
                                                                <input id="pDistinctE" placeholder="Proje İlçe" class="form-control" type="text" data-ng-model="editProjectObject.ProjeIlce">
                                                                <br>
                                                                <label for="pStatusE"><span class="glyphicon glyphicon-time"></span> Proje Durumu</label>
                                                                <div class="dropdown">
                                                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                                        {{editProject.statusDesc}}
                                                                        <span class="caret"></span>
                                                                    </button>
                                                                    <ul class="dropdown-menu" role="menu" style="background-color: #f0f0f0">
                                                                        <li ng-repeat="s in projectStatus">
                                                                            <a ng-click="setEditStatus(s.completed,s.desc)">{{s.desc}}</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <br>
                                                                <label for="projectDetailE"><span class="glyphicon glyphicon-pencil"></span> Proje Detay</label>
                                                                <textarea data-ckeditor="options" data-ng-model="editProjectObject.ProjeAciklama" data-ready="onReady()"></textarea>
                                                                <br>
                                                                <button type="button" class="btn btn-primary pull-right" data-ng-click="editSaveProject()">Kaydet</button>
                                                                <br>
                                                            </div>
                                                            <!--<div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                                        </div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal2-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="sample-3c">
                                <div class="row">
                                    <div class="col-md-5">
                                        <!--  <img src="assets/img/fillers/filler3.jpg" alt="filler image">-->
                                    </div>
                                    <div class="col-md-7">
                                        <h3 class="no-margin no-padding">Mirum Est Notare</h3>
                                        <p>
                                            Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus,
                                            qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothicas.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="sample-3d">
                                <p>
                                    Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc.
                                    Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, consectetur id.
                                </p>
                                <ul>
                                    <li>Donec eget orci metus</li>
                                    <li>Ante ac interdum ullamcorper</li>
                                    <li>Vivamus imperdiet condimentum</li>
                                    <li>Pellentesque fermentum</li>
                                </ul>
                            </div>
                            <!--Photos-->
                            <div class="tab-pane fade in" id="sample-3e">
                                <!--data-ng-init="ButtonClick()"-->
                                <div id="accordionP" class="panel-group alternative">
                                    <div class="panel panel-default" data-ng-repeat="y in projects">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" href data-target="#collapseP{{y.ProjeId}}" data-parent="#accordionP" data-toggle="collapse" data-ng-click="GetProjectPhotos(y)">
                                                    {{y.ProjeAdi}}
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseP{{y.ProjeId}}" class="accordion-body collapse">
                                            <div class="panel-body">
                                                <form novalidate name="f1" data-ng-submit="SaveFile(y.ProjeId)">
                                                    <div style="color: red">{{Message}}</div>
                                                    <table>
                                                        <tr>
                                                            <td>Dosya Seçiniz : </td>
                                                            <td>
                                                                <input type="file" name="file" accept="image" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                                                <span class="error" data-ng-show="(f1.file.$dirty || IsFormSubmitted) && f1.file.$error.required">Resim Gerekli !</span>
                                                                <span class="error">{{FileInvalidMessage}}</span>
                                                            </td>
                                                            <td class="pull-right">
                                                                <input type="submit" value="Upload File" />
                                                            </td>
                                                        </tr>
                                                        <!--<tr>
                                                            <td>Description : </td>
                                                            <td>
                                                                <input type="text" name="uFileDescription" data-ng-model="FileDescription" class="{{(IsFormSubmitted?'ng-dirty' + (f1.uFileDescription.$invalid?' ng-invalid':''):'')}}" autofocus />
                                                            </td>
                                                        </tr>-->
                                                        <tr>
                                                            <td></td>

                                                        </tr>
                                                    </table>
                                                </form>
                                                <br />
                                                <div id="content">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-12 portfolio-group no-padding">
                                                                <!-- Portfolio Item -->
                                                                <div class="col-md-3 col-sm-3 col-xs-6 person-details margin-bottom-30" data-ng-repeat="w in projectPhotoModel">
                                                                    <figure>
                                                                        <img src="http://protondb.somee.com/UploadedFiles/{{w.FileName}}" alt="{{w.FileName}}">
                                                                        <ul class="list-inline person-details-icons">
                                                                            <li>
                                                                                <div class="checkbox">
                                                                                    <label style="color:#ffffff"><input type="checkbox" checked="{{w.IsMainPhoto}}">VR</label>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <i class="fa-lg fa-times"></i>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </figure>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>